.camera_enable {
    width: 50vw;
    height: 30vw;
    background-color: aqua;
    display: flex;
}

.canvas_css {

    background-color: black;
}

.btn_start {
    width: 500px;
    height: 100px;
    background-color: blue;
}

.test_css {
    color: aqua;
    accent-color: aqua;

}

.camera-main-div {
    display: flex;
    flex-direction: column;
    width: 60vw;
    height: 35vw;
    /* z-index: ; */
    /* background-color: aqua; */
}



.webcam-div-css {
    position: absolute;
    width: 47vw;
    height: 35vw;
    background-color: black;
    z-index: 0;
    margin-left: 12vw;
    margin-top: -1vw;
}

.progress-bar {
    z-index: 1;
    accent-color: red;
}

.btn_camera {
    position: absolute;
    background-color: transparent;
    border: 1px solid rgb(3, 238, 213);
    border-radius: 50%;
    width: 5vw;
    height: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 28vw;
    margin-left: 32vw;
    transition: 1s;
}

.btn_camera:hover {
    box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
    ;
    transition: 0.2s;
}

.btn_camera_active {
    position: absolute;
    background-color: transparent;
    border: 1px solid rgb(3, 238, 213);
    border-radius: 50%;
    width: 5vw;
    height: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 28vw;
    margin-left: 32vw;
    box-shadow: 0 rgba(0, 142, 236, 0.815);
    ;
    transition: 1s;
}

.svg_css {
    position: relative;
    fill: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 3vw;
    height: 3vw;
    transition: 0.5s;
}

.svg_css_active {
    position: relative;
    fill: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 3vw;
    height: 3vw;
    transition: 0.5s;
    /* box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815); ; */
}

.accuracy_css_best {
    position: absolute;
    color: rgb(4, 255, 155);
    font-size: 50px;
    margin-top: 5vw;
    margin-left: 48vw;
    text-shadow: 0 0 30px #07ebf3, 0 0 5px #0000FF;
}

.accuracy_css_bad {
    position: absolute;
    color: rgb(222, 63, 27);
    font-size: 50px;
    margin-top: 5vw;
    margin-left: 44vw;
}

.counter_css {
    position: relative;
    color: rgb(247, 3, 133);
    font-size: 70px;
}

.counter_increase_css {
    position: relative;
    color: rgb(247, 3, 133);
    font-size: 200px;
    transition: 1s;
}

.counter_background_css {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100px;
    height: 100px;
    background: rgb(5, 230, 20);
    border-radius: 50%;
    margin-top: 27vw;
    margin-left: 52vw;
    box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
}

.webcam-css {
    width:47vw;
    height: 35vw;
    /* background-color: red; */
}

/* .webcam-css {
    width:300px;
    height: 700px;
    background-color: red;
} */

